.App {
  display: flex;
  flex-direction: row;
  height: 2000px;
  flex-grow: 1;
  background-image: url(./cork-board-image-use.png);
}

.App .login {
  width: 100%;
  padding-top: 200px;
}

.App .login table {
  background-color: yellow;
  border: solid gold;
  font-size: 1.5em;
  margin-left: calc(50% - 200px);
}

.App .login table td {
  padding: 10px;
}

.App .login .login-form .text-input {
  text-align: center;
  margin-top: 20px;
}
