.App {
  display: flex;
  flex-direction: row;
}

.App .login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
}

.App .login table {
  background-color: yellow;
  border: solid gold;
  font-size: 1.5em;
}

.App .login table td {
  padding: 10px;
}

.App .login .login-form .text-input {
  text-align: center;
  margin-top: 20px;
}

