.Composer {
    display: flex;
    flex-direction: column; 
    background-color: blue;
    color: white;
    height: 800px;
    width: 280px;
}

.header {
    margin: 10px;
    text-align: center;
}

.textarea {
    resize: none;
    width: 250px; 
    height: 250px; 
    margin: 10px;  
}

.button {
    background: none;
    color: inherit;
    border: solid 1px white;
    font-size: 20px;
    padding: 5px;
    margin-left: 80px;

}

