.Composer {
    display: flex;
    flex-direction: column; 
    background-color: black;
    color: white;
    height: 800px;
    width: 280px;
}

.header {
    margin: 10px;
    text-align: center;
}

.textarea {
    resize: none;
    width: 250px; 
    height: 250px; 
    margin: 10px;  
}

.button {
    background: none;
    font-size: 20px;
    color: inherit;
    border: solid 1px white;
    width: 250px;
    margin: 10px;
    padding: 10px;
}
